* {
    /* Theme settings */
    highlight: bold italic;
    scrollbar: true;

    /* Theme colors */
    yellow:                      #F9AF4F;
    background:                  #000000;
    foreground:                  #B3B1AD;
    background-color:            @background;
    border-color:                @foreground;
    separatorcolor:              @border-color;
    scrollbar-handle:            @border-color;
    normal-background:           @background;
    normal-foreground:           @foreground;
    alternate-normal-background: @background;
    alternate-normal-foreground: @foreground;
    selected-normal-background:  @background;
    selected-normal-foreground:  @yellow;
}

@import "common.rasi"