@import url("theme-current.css");

* {
    font-family: "Hack Nerd Font";
    font-size: 14px;
}

window#waybar {
    background: @theme_bg;
    color: @theme_fg;
}

#workspaces button {
    padding: 0 5px;
    color: @theme_fg;
    background: transparent;
    background-image: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.focused {
    color: @theme_accent;
}

#workspaces button:hover {
    color: @theme_accent;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.urgent {
    color: @theme_bg;
    background: @theme_accent;
}

#workspaces button.urgent:hover {
    color: @theme_bg;
    background: @theme_accent;
}

#window {
    padding: 0 8px;
}

#custom-spaceos-update, #tray, #network, #pulseaudio, #backlight, #battery, #clock {
    padding: 0 2px;
}

#custom-spaceos-update.ready {
    color: @theme_accent;
}

#clock {
    padding-right: 10px;
}
